@model NotificationListViewModel

@{
    ViewData["Title"] = "Notifications";
}
<form method="post">
    @foreach (var noti in Model.NotificationList)
    {
        <div hidden>
            <label asp-for="@noti.NotiId"></label>
            <input asp-for="@noti.NotiId" />
            <span asp-validation-for="@noti.NotiId" class="alert-danger"></span>
        </div>
        <table style="width:100%">
            <tr>
                <th>Title</th>
                <th>Message</th>
                <th>From</th>
                <th>Date</th>
            </tr>
            <tr>
                <th>
                    <div class="">
                        <input class="" asp-for="@noti.Sender" readonly />
                        <span asp-validation-for="@noti.Sender" class="alert-danger"></span>
                    </div>
                </th>
                <th>
                    <div class="">
                        <input class="" asp-for="@noti.NotiHeader" readonly />
                        <span asp-validation-for="@noti.NotiHeader" class="alert-danger"></span>
                    </div>
                </th>
                <th>
                    <div class="">
                        <input class="" asp-for="@noti.NotiBody" readonly />
                        <span asp-validation-for="@noti.NotiBody" class="alert-danger"></span>
                    </div>
                </th>
                <th>
                    <div class="">
                        <input class="" asp-for="@noti.CreatedDate" readonly />
                        <span asp-validation-for="@noti.CreatedDate" class="alert-danger"></span>
                    </div>
                </th>
            </tr>
        </table>

        <div class="custom-checkbox">
            <label asp-for="@noti.IsRead">
                <input asp-for="@noti.IsRead" />
                Clear notification
            </label>
        </div>
    }
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
@if (Model.NotificationList.Count() == 0)
{
    <h3>Sorry you did not have any notifications</h3>
}

